In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Reading the dataset
dataset = pd.read_csv("./dataset_Facebook.csv", sep=";")
dataset.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [4]:
dataset.shape

(500, 19)

In [7]:
dataset.describeibe(include="all")

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
unique,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Photo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,123194.176000,NaN,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,NaN,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,NaN,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,NaN,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,NaN,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,NaN,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,NaN,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [9]:
dataset.dtypes

Page total likes                                                         int64
Type                                                                    object
Category                                                                 int64
Post Month                                                               int64
Post Weekday                                                             int64
Post Hour                                                                int64
Paid                                                                   float64
Lifetime Post Total Reach                                                int64
Lifetime Post Total Impressions                                          int64
Lifetime Engaged Users                                                   int64
Lifetime Post Consumers                                                  int64
Lifetime Post Consumptions                                               int64
Lifetime Post Impressions by people who have liked your Page             int64
Lifetime Post reach by people who like your Page                         int64
Lifetime People who have liked your Page and engaged with your post      int64
comment                                                                  int64
like                                                                   float64
share                                                                  float64
Total Interactions                                                       int64
dtype: object

In [19]:
dataset = dataset.dropna()
dataset.shape

(495, 19)

In [20]:
dataset.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [23]:
dataset['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [25]:
psubset = dataset[dataset["Type"]=="Photo"]
psubset

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [26]:
psubset.transpose()

,0,2,3,4,6,7,9,11,12,13,...,488,489,490,491,493,494,495,496,497,498
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85979,85093,85093,85093,81370,81370,81370
Type,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,3,2,2,3,3,3,2,2,2,...,3,3,3,3,3,3,3,2,1,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,2,2,1,7,6,5,5,5,...,7,7,6,6,1,7,7,5,5,4
Post Hour,3,3,10,3,3,9,10,10,10,3,...,10,2,11,3,2,10,2,8,2,11
Paid,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Lifetime Post Total Reach,2752,2413,50128,7244,11692,13720,4694,3112,2847,2549,...,9700,4800,5280,6184,8412,5400,4684,3480,3778,4156
Lifetime Post Total Impressions,5091,4373,87991,13594,19479,24137,8668,5590,5133,4896,...,17442,7754,8703,10228,13960,9218,7536,6229,7216,7564
Lifetime Engaged Users,178,177,2211,671,481,537,280,208,193,249,...,1407,975,951,956,1179,810,733,537,625,626
Lifetime Post Consumers,109,113,790,410,265,232,183,127,115,134,...,1271,938,911,901,1111,756,708,508,572,574
Lifetime Post Consumptions,159,154,1119,580,364,305,250,145,133,168,...,2007,1278,1237,1140,1632,1003,985,687,795,832
Lifetime Post Impressions by people who have liked your Page,3078,2812,61027,6228,15432,19728,4309,3887,3779,3631,...,8872,4932,5757,6085,8632,5654,4750,3961,4742,4534
Lifetime Post reach by people who like your Page,1640,1503,32048,3200,9328,11056,2324,2174,2072,1917,...,4876,2820,3300,3502,5348,3230,2876,2104,2388,2452
Lifetime People who have liked your Page and engaged with your post,119,132,1386,396,379,422,199,165,152,183,...,660,432,431,437,699,422,392,301,363,370
comment,4,0,58,19,3,0,3,0,0,5,...,21,1,1,1,17,10,5,0,4,7
like,79.0,66.0,1572.0,325.0,249.0,325.0,113.0,88.0,90.0,137.0,...,277.0,74.0,79.0,105.0,185.0,125.0,53.0,53.0,93.0,91.0
share,17.0,14.0,147.0,49.0,27.0,14.0,26.0,18.0,14.0,10.0,...,80.0,28.0,30.0,46.0,55.0,41.0,26.0,22.0,18.0,38.0
Total Interactions,100,80,1777,393,279,339,142,106,104,152,...,378,103,110,152,257,176,84,75,115,136

In [27]:
vsubset = dataset[dataset['Type']=='Video']
vsubset

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271

In [29]:
v_p_merged = pd.merge(vsubset,psubset,on='Paid')
v_p_merged

,Page total likes_x,Type_x,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,138895,Video,1,12,4,11,1.0,36208,61262,1141,...,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
1,138895,Video,1,12,4,11,1.0,36208,61262,1141,...,481,265,364,15432,9328,379,3,249.0,27.0,279
2,138895,Video,1,12,4,11,1.0,36208,61262,1141,...,537,232,305,19728,11056,422,0,325.0,14.0,339
3,138895,Video,1,12,4,11,1.0,36208,61262,1141,...,887,337,417,34415,19312,684,2,577.0,20.0,599
4,138895,Video,1,12,4,11,1.0,36208,61262,1141,...,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,126424,Video,1,6,2,13,0.0,139008,277100,1779,...,810,756,1003,5654,3230,422,10,125.0,41.0,176
1378,126424,Video,1,6,2,13,0.0,139008,277100,1779,...,733,708,985,4750,2876,392,5,53.0,26.0,84
1379,126424,Video,1,6,2,13,0.0,139008,277100,1779,...,537,508,687,3961,2104,301,0,53.0,22.0,75
1380,126424,Video,1,6,2,13,0.0,139008,277100,1779,...,625,572,795,4742,2388,363,4,93.0,18.0,115
1381,126424,Video,1,6,2,13,0.0,139008,277100,1779,...,626,574,832,4534,2452,370,7,91.0,38.0,136

In [34]:
dataset.drop_duplicates(subset='Total Interactions').sort_values()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,91116,Photo,3,2,2,4,1.0,7132,12060,1004,944,1226,8294,4736,576,4,136.0,42.0,182
476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
479,86909,Photo,3,1,5,4,0.0,6056,10325,1117,1078,1427,6823,3788,487,7,84.0,36.0,127
480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257

In [37]:
dataset = dataset.sort_va('Total Interactions',inplace=True)
dataset.

AttributeError: 'NoneType' object has no attribute 'sort_values'

In [32]:
melted = pd.melt(dataset,id_vars=['Total Interactions'],value_vars=['Category','Paid'])
melted

     Total Interactions  variable  value
0                   100  Category    2.0
1                   164  Category    2.0
2                    80  Category    3.0
3                  1777  Category    2.0
4                   393  Category    2.0
..                  ...       ...    ...
985                 176      Paid    0.0
986                  84      Paid    0.0
987                  75      Paid    0.0
988                 115      Paid    0.0
989                 136      Paid    0.0

[990 rows x 3 columns]

In [33]:
melted.pivot(index='Total Interactions',columns='variable',values='value')

ValueError: Index contains duplicate entries, cannot reshape